body {
    font-family: 'Oswald', sans-serif;
    /* background: url('./images/milky-way.jpg');  */
    background-color: antiquewhite;
}


.footer-center {
    color: white;
    font-weight: bold;
    text-align: center;
}