body {
    font-family: 'Oswald', sans-serif;
    /* background: url('./images/milky-way.jpg');  */
    background-color: antiquewhite;
}


.caption {
    background-color: #4aaaa5;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 20px;
    text-align: center;
    color: white;
    width: 200px;
    position: absolute;
    z-index: 100;
}






.cover {
    /* width: 150px;
    height: 225px; */
        width: 8em;
            height: 12em;
}

.cover1 {
    width: 12em;
    height: 18em;
}

.footer-center {
    color: white;
    font-weight: bold;
    text-align: center;
}

.footer-contrast {
    color: black;
    font-weight: bold;
    text-align: center;
}

.innerbox {
    margin-left: 5vw;
}


div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 13vw;
    margin-right: 5vw;
    position: relative;
}





.lmargin {
    margin-left: 4vw;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-header>.logo {
    height: 50px;
    width: 150px;
    margin-top: 0;
    padding-top: 0;
    top: 0;

}



.panel>.panel-info {
    background-image: none;
    background-color: #20315A;
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.square {
    width: 150px;
    height: 150px;
}


